#minum h1{
    border-bottom: 2px solid black;
}

p{
    color: black !important;
}

body{
    background-color: white;
}

#miheader{
    background-color: black;
}

a{
    text-decoration: none !important;
}

.cont #milink a:hover{
    color: brown !important;
}

#dentrodelmenu a:hover {
    color: rgb(248, 92, 44) !important;
}

#misredes a:hover {
    color: rgb(248, 92, 44) !important;
}